*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand {
    background: url(téléchargement-removebg-preview.png) no-repeat left center;
    background-size: 100px;
    padding-left: 80px;
    height: 80px;
    line-height: 80px;
}
.red
{
    position: relative;
    left: 100%;
    top: 15px;
    
}
.cont
{
    padding-top: 13%;
}
.give
{
    background-image: url(pexels-photo-3505699.webp);
    background-size: cover;
    
    height: 400px;

}
.image-overlay
{
    background-color: #23201e73;
    height: 400px;
}
.bigy
{
    border-left: 1px solid #ccc;
}
.clas
{
    padding-top: 10%;
}
.viv
{
    /* position: relative; */
    /* left: 45px; */
    /* float: left; */
}

.nine 
{
    background: #2c6ef1;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    text-rendering: auto;
    display: block;
    font-variant: normal;
    font-size: normal;
    transition: all 0.2s ease-in-out;
}
.bit
{
    background: #fff;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
    padding: 20px 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}
.box
{
    position: relative;
    left: 13%;
}
.box1
{
    position: relative;
    left: 13%;
}
.ift
{
    width: 40px;
    height: 40px;
}
.tet
{
    color: orange;
}
.nav-link
{
    margin-left: 15px;
    /* color: black; */
    /* font-weight: 500; */
}
.fil
{
    font-weight: 500;
}
.sect {
    padding-top: 70px;
    padding-bottom: 90px;
}
.bel
{
    background-image: url(pizzeria-template-homemade-mozarella.jpg);
    opacity: 0.90;
    height: 250px;
    background-size: cover;
    transition: all 0.2s ease-in-out;
}
.bel2
{
    background-image: url('images (1).jpeg');
    background-size: cover;
    /* background: linear-gradient(0deg, #f0f4f7 50%, #fff 70%); */
    opacity: 0.90;
    height: 250px;
    transition: all 0.2s ease-in-out;
}
.pig
{
    padding: 80px;
}
.bel3
{
    background-image: url('images (2).jpeg');
    background-size: cover;
    opacity: 0.90;
    height: 250px;
    transition: all 0.2s ease-in-out;

}
.bel3:hover
{
    transform: scale(1.1);
}
.bel2:hover
{
    transform: scale(1.1);
}
.bel:hover
{
    transform: scale(1.1);
}
.sect1
{
    padding-top: 70px;
    padding-bottom: 50px;
}
.sect3
{
    padding-bottom: 50px;
}
.sect4
{
    background-image: url(pexels-photo-1537635.webp);
    background-size: cover;
    height: 600px;
}
.giv
{
    padding: 20% 15%;
}

.sect4
{
    background-image: url(istockphoto-1268759368-612x612.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.very
{
    padding: 15%;
}
.divider-custom-small-primary:before, .divider-custom-small-primary:after {
    content: "";
    display: inline-block;
    border-top: 2px solid #f9b129;
    width: 44px;
    margin: 0 7px;
}
.divider-custom-small-primary:before, .divider-custom-small-primary:after {
    content: "";
    display: inline-block;
    border-top: 2px solid #f9b129;
    width: 44px;
    margin: 0 7px;
}

.page .text-accent {
    color: #f9b129;
}
.label-price h1:before {
    content: "$";
    display: inline-block;
    font-size: 36px;
    vertical-align: super;
}
.box-icon-variant-1 .icon-xl {
    height: 91px;
    line-height: 92px;
}


[class^="thin-icon-"]:before, [class*=" thin-icon-"]:before, .thin-ico {
    font-family: "Thin Regular";
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.box-icon * + .box-icon-header {
    margin-top: 11px;
}
.section-50
{
    padding: 5%;
}
.bitt
{
    font-size: 50px;
}

.box-icon hr {
    margin-top: 17px;
    margin-bottom: 16px;
}
hr:not([size]) {
    height: 1px;
}
.divider-xs {
    width: 36px;
    height: 4px !important;
}
.bg-accent {
    background-color: #f9b129;
    border: none;
}
hr {
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}
.box-icon-variant-1 h5 {
    text-transform: uppercase;
    font-size: 16px;
}
.bet
{
    font-size: 16px;
    color: #9b9b9b;
}

.section-bottom-60 {
    padding-bottom: 60px;
}

.bg-gray-darker {
    background: #23201e;
    fill: #23201e;
}
.section-top-55 {
    padding-top: 55px;
}
.burnt-sienna {
    color: #fff;
    background-color: #ec5353;
    border-color: #ec5353;
}
.btnt {
    transition: .3s ease-out;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    border-width: 3px;
    padding: 10px 28px;
}
.live
{
    width: 15%
}
.live1
{
    background: white;
    border: none;
}
.live2
{
  background: green;
  border: none;
  color: white;
}

.btnt {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 35px;
    font-size: 14px;
    line-height: 1.71429;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: none !important;
}
.Subscribe {
    background: #ffffff;
    padding: 80px 0px;
}
.Subscribe .section-title {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.Subscribe .section-title h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1455d5;
    margin-bottom: 10px;
    animation-delay: 0.1s;
}
.Subscribe .section-title h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
    animation-delay: 0.4s;
}
.Subscribe .section-title h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
    animation-delay: 0.4s;
}
.Subscribe .subscribe-form {
    margin-top: 30px;
}
.Subscribe .subscribe-form .form-control {
    background: #eff1f6;
    border: 0px !important;
    box-shadow: none !important;
    height: 47px;
    font-size: 16px;
}

.input-group-append {
    margin-left: -1px;
}
.Subscribe .subscribe-form .btn {
    border: 0px !important;
    box-shadow: none !important;
    background: #2c6ef1;
    padding: 10px 38px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    z-index: 25;
    transition: all 0.2s ease-in-out;
}
.Footer {
    background-color: #f5f7fa;
    background: linear-gradient(0deg, #f0f4f7 50%, #fff 70%);
    padding: 60px 0px 60px 0px;
    text-align: center;
}

.Footer .menu {
    margin-bottom: 30px;
}
.Footer .social-icons {
    margin-bottom: 30px;
    
}
.fabb
{
    font-size: 22px;
}
.Footer .copyright {
    color: #666;
}
.Footer .menu>ul {
    margin: 0px;
    padding: 0px;
}
.Footer .menu>ul>li {
    text-align: center;
    margin: 0px 10px;
    display: inline-block;
}
.Footer .menu>ul>li>a {
    color: #666;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.Footer .social-icons>a {
    display: inline-block;
    margin: 0px 10px;
    color: #666;
    text-decoration: none;
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}
.vivv{
    background: #EEF4F5;
    padding: 30px;
    min-height: calc(100vh - 549px);
    margin-bottom: 10px;
    border-radius: 10px;
    /* padding-top: 50%; */

}
#Wrapper.single-page .Page-Content {
    background: #ffffff;
    padding-bottom: 50px;
    padding-top: 60px;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea.form-control {
    height: auto;
}
.btn-submit {
    border: 0px !important;
    box-shadow: none !important;
    background: #2c6ef1;
    padding: 10px 28px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 25;
    transition: all 0.2s ease-in-out;
}
a
{
    text-decoration: none;
}
.fif
{
    color: #f9b129;
}
.btn-submit:hover
{
    transform: scale(1.1);
    background:  #2c6ef1;
    color: white;
    opacity: 0.95;
}





                  
@media screen and (max-width: 900px) {
    .div
    {
        width: 60%;
        margin-left: -40px;
    }
    .iff
    {
        width: 10%;
    }
    .box1, .box
    {
        position: relative;
        left: -8px;
    }
    .vrt
    {
        /* width: 290; */
        display: none;
        /* font-size: ; */
    }
    .clas
    {
    padding-top: 35%;
    }

}




